[Unit]
Description=Horolog Job Scheduling Software

[Service]
Environment="HOROLOG_DATADIR=datadir"
ExecStart=execstart
Restart=always
RestartSec=1
Type=simple
User=root

[Install]
WantedBy=multi-user.target
